ttrss:
  version: master
  config:
    DB_TYPE: pgsql
    DB_HOST: db-server
    DB_USER: tt-rss
    DB_NAME: tt-rss
    DB_PASS: password
    SELF_URL_PATH: http://localhost/tt-rss/
    PLUGINS: auth_internal, note, mail, af_unburn, share
