{% import_yaml 'ttrss/defaults.yaml' as default_settings %}
{% set ttrss = salt['pillar.get']('ttrss', default=default_settings.get('ttrss'), merge=True) %}

{% do ttrss.update({
  'config_file': ttrss.directory + '/config.php',
  'update_daemon': ttrss.directory + '/update_daemon2.php'
}) %}
