[Unit]
Description=Tiny Tiny RSS Feed Update
Wants=network-online.target

[Service]
User=apache
ExecStart=/usr/bin/php -c /etc/php-cli.ini {{ config.update_daemon }}
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target
